In [1]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchAttributeException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import UnexpectedTagNameException
import time
import pandas as pd

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [310]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [377]:
rank=[]
name=[]
artist=[]
date=[]
views=[]
for k in range(1,31):
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[1]".format(k)):
            rank.append(i.text)
    except NoSuchAttributeException as e:
        rank.append('--')
        
    
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[2]".format(k)):
            name.append(i.text)
    except NoSuchAttributeException as e:
        name.append('--')
        
        
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[3]".format(k)):
            artist.append(i.text)
    except NoSuchAttributeException as e:
        artist.append('--')
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[4]".format(k)):
            views.append(i.text)
    except NoSuchAttributeException as e:
        views.append('--')
    try:
        for i in driver.find_elements_by_xpath("/html/body/div[3]/div[3]/div[5]/div[1]/table[3]/tbody/tr[{}]/td[5]".format(k)):
            date.append(i.text)
    except NoSuchAttributeException as e:
        date.append('--')

In [378]:
print(len(rank))
print(len(name))
print(len(artist))
print(len(date))
print(len(views))

30
30
30
30
30

In [379]:
df=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload date':date,'Views':views})

In [380]:
df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.71
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.38
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.41
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.34
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.13
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.19
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.12
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.10
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.08
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.90
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.48
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.37
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.36
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.31
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.26
17,18.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.08
18,19.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.07
19,20.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.06
20,21.,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.05
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.04
22,23.,"""Bailando""[48]",Enrique Iglesias,"April 11, 2014",3.04
23,24.,"""Girls Like You""[49]",Maroon 5,"May 31, 2018",3.04
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.00
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.92
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.86
27,28.,"""Hello""[53]",Adele,"October 22, 2015",2.84
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.84
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.82

# Q 2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [2]:
driver=webdriver.Chrome(r'C:\Users\SUBHASH CHANDRA PAL\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url='https://www.bcci.tv/'
driver.get(url)

In [11]:
ty=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
ty.click()

In [56]:
match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]
a=[]
for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]"):
    Series.append(i.text)
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
    match_title.append(i.text)
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    Place.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]"):
    Time.append(i.text)
# for date
c=[]
for i in driver.find_elements_by_xpath("//div[@class='js-list']/h3"):
    c.append(i.text)
k=[]
for i in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span"):
    k.append(i.text)
for i in c:
    if i=='June 2021':
        Date.append(k[0]+' '+c[0])
    if i=='August 2021':
        Date.append(k[1]+" "+c[1])
        Date.append(k[2]+" "+c[1])
        Date.append(k[3]+' '+c[1])
    if i=='September 2021':
         Date.append(k[4]+" "+c[2])
         Date.append(k[5]+" "+c[2])

In [59]:
df = pd.DataFrame({"Series" : Series,
                   "Match Title" : match_title,
                            "Place" : Place,
                            "Date" : Date,
                            "Time" : Time})

In [60]:
df

,Series,Match Title,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP,Final,"The Ageas Bowl, Southampton",18 June 2021,15:00 IST
1,ENGLAND V INDIA 2021,1st Test,"Trent Bridge, Nottingham",04 August 2021,15:30 IST
2,ENGLAND V INDIA 2021,2nd Test,"Lord's, London",12 August 2021,15:30 IST
3,ENGLAND V INDIA 2021,3rd Test,"Headingley, Leeds",25 August 2021,15:30 IST
4,ENGLAND V INDIA 2021,4th Test,"The Oval, London",02 September 2021,15:30 IST
5,ENGLAND V INDIA 2021,5th Test,"Old Trafford, Manchester",10 September 2021,15:30 IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [75]:
url='https://www.guru99.com/'
driver.get(url)

In [76]:
##selenimun click
sele=driver.find_element_by_xpath("//a[@title='Selenium']")
sele.click()

In [77]:
##Click on exceptional handling
try:
    exc_han=driver.find_element_by_xpath("//a[@title = 'Selenium Exception Handling (Common Exceptions List)']")
    exc_han.click()
except NoSuchAttributeException as e:
    driver.get(exc_han.get_attribute('href'))

In [204]:
exception_name=[]
description=[]
for j in range(2,43):
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr[{}]/td[2]".format(j)):
        description.append(i.text)
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr[{}]/td[1]".format(j)):
        exception_name.append(i.text)

In [205]:
df=pd.DataFrame({'Name':exception_name,'Description':description})

In [206]:
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Q-4Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

In [3]:
url='http://statisticstimes.com/'
driver.get(url)

In [4]:
## click on India 
india=driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]")
driver.get(india.get_attribute('href'))

In [7]:
##Clicking on GDP of Indian State
gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [47]:
Rank=[]
State=[]
GSDP_19=[]
GSDP_18=[]
Share=[]
GDP=[]
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]"):
    Rank.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]"):
    State.append(i.text)   
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]"):
    GSDP_19.append(i.text)  
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[8]"):
    GSDP_18.append(i.text)
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]"):
    Share.append(i.text)   
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [48]:
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP 19-20':GSDP_19,'GSDP 18-19':GSDP_18,'Share':Share,'GDP($Billion)':GDP})

In [49]:
df

   Rank                      State GSDP 19-20 GSDP 18-19   Share GDP($Billion)
0     1                Maharashtra          -  2,039,074  13.94%       399.921
1     2                 Tamil Nadu  1,845,853  1,215,307   8.63%       247.629
2     3              Uttar Pradesh  1,687,818  1,123,982   8.39%       240.726
3     4                    Gujarat          -  1,186,379   7.96%       228.290
4     5                  Karnataka  1,631,977  1,091,077   7.91%       226.806
5     6                West Bengal  1,253,832    739,525   5.77%       165.556
6     7                  Rajasthan  1,020,989    677,428   4.99%       143.179
7     8             Andhra Pradesh    972,782    621,301   4.57%       131.083
8     9                  Telangana    969,604    612,828   4.56%       130.791
9    10             Madhya Pradesh    906,672    522,009   4.29%       122.977
10   11                     Kerala          -    559,412   4.14%       118.733
11   12                      Delhi    856,112    590,569   4.10%       117.703
12   13                    Haryana    831,610    531,085   3.89%       111.519
13   14                      Bihar    611,804    375,651   2.81%        80.562
14   15                     Punjab    574,760    397,669   2.79%        79.957
15   16                     Odisha    521,275    376,877   2.58%        74.098
16   17                      Assam          -    234,048   1.67%        47.982
17   18               Chhattisgarh    329,180    231,182   1.61%        46.187
18   19                  Jharkhand    328,598    224,986   1.57%        45.145
19   20                Uttarakhand          -    193,273   1.30%        37.351
20   21            Jammu & Kashmir          -    112,755   0.83%        23.690
21   22           Himachal Pradesh    165,472    117,851   0.81%        23.369
22   23                        Goa     80,449     57,787   0.39%        11.115
23   24                    Tripura     55,984     36,963   0.26%         7.571
24   25                 Chandigarh          -     31,192   0.22%         6.397
25   26                 Puducherry     38,253     23,013   0.18%         5.230
26   27                  Meghalaya     36,572     24,682   0.18%         5.086
27   28                     Sikkim     32,496     18,722   0.15%         4.363
28   29                    Manipur     31,790     19,300   0.15%         4.233
29   30                   Nagaland          -     17,647   0.14%         4.144
30   31          Arunachal Pradesh          -     16,676   0.13%         3.737
31   32                    Mizoram     26,503     16,478   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

# Q 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [118]:
driver=webdriver.Chrome(r'C:\Users\SUBHASH CHANDRA PAL\Downloads\chromedriver_win32\chromedriver.exe')

In [141]:
url='https://github.com/'
driver.get(url)

In [142]:
## clicking on Trending 
trend=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(trend.get_attribute('href'))

In [143]:
urls=[]
url_element=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in url_element:
    urls.append(i.get_attribute("href"))

In [144]:
title=[]
des=[]
contribution=[]
language=[]
try:
    for i in driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']"):
        contribution.append(i.text)
except:
    contribution.append('-')
for l in urls:
    driver.get(l)
    time.sleep(2)
    try:
        for i in driver.find_elements_by_xpath("//p[@class='f4 mt-3']"):
            des.append(i.text)
    except:
        des.append('-')
    try:
        for i in driver.find_elements_by_xpath("//strong[@class='mr-2 flex-self-stretch']"):
            title.append(i.text)
    except:
        title.append('-')
   
    try:
        for i in driver.find_elements_by_xpath("//span[@class='color-text-primary text-bold mr-1']"):
            language.append(i.text)
    except:
        language.append('-')

In [145]:
### Issue Point
print(len(title))
print(len(des))
print(len(contribution))
print(len(language))

25
25
50
75

In [146]:
df=pd.DataFrame({'Title':title,'Description':des,'Contribution':contribution[:25],'Language':language[:25]})

In [147]:
df

,Title,Description,Contribution,Language
0,nushell,A new type of shell,"13,384",Rust
1,thanos,Highly available Prometheus setup with long te...,613,Go
2,keras,Deep Learning for humans,"8,836",TypeScript
3,next.js,The React Framework,"1,276",Jsonnet
4,chromium,The official GitHub mirror of the Chromium source,"51,445",JavaScript
5,fully-homomorphic-encryption,Libraries and tools to perform fully homomorph...,"18,721",HTML
6,The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,"69,154",Makefile
7,books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,"13,021",Other
8,MalwareSourceCode,Collection of malware source code for a variet...,"9,669",Python
9,monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,"3,771",Starlark
10,javascript-questions,A long list of (advanced) JavaScript questions...,"1,705",Shell
11,modern-unix,A collection of modern/faster/saner alternativ...,88,JavaScript
12,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,731,TypeScript
13,Microsoft-Activation-Scripts,A collection of scripts for activating Microso...,214,CSS
14,the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...","10,725",Shell
15,SimSwap,The official project of SimSwap (ACM MM 2020),"2,141",SCSS
16,zhao,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,"4,778",Dockerfile
17,jina,Cloud-native neural search framework for any k...,547,C++
18,turbo-rails,Use Turbo in your Ruby on Rails app,"1,126",Starlark
19,seata,"🔥 Seata is an easy-to-use, high-performance, o...",102,C
20,allennlp,"An open-source NLP research library, built on ...","34,352",Dockerfile
21,NvChad,beautiful neovim setup configured in lua,"4,546",Jupyter Notebook
22,AspNetCore.Docs,Documentation for ASP.NET Core,"3,089",HTML
23,pytorch-tutorial,PyTorch Tutorial for Deep Learning Researchers,49,C++
24,Smart-Inspector,Keeps your screen real-estate clean with refin...,"8,777",JavaScript

# Q 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [47]:
url='https://www.billboard.com/'
driver.get(url)

In [49]:
##Clicking on hot 100
hot=driver.find_element_by_xpath("//a[@class='header__submenu__list__link']")
driver.get(hot.get_attribute('href'))

In [71]:
song=[]
artist=[]
rank=[]
peak=[]
wks=[]
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    song.append(i.text)
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    rank.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    wks.append(i.text)

In [72]:
df=pd.DataFrame({'Song Name':song,'Atrist':artist,'Last week rank':rank,'Peak':peak,'WKS on board Note':wks})

In [73]:
df

,Song Name,Atrist,Last week rank,Peak,WKS on board Note
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

# Q-7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [167]:
driver=webdriver.Chrome(r'C:\Users\SUBHASH CHANDRA PAL\Downloads\chromedriver_win32\chromedriver.exe')

In [202]:
url='https://www.naukri.com/'

In [203]:
driver.get(url)

In [204]:
## Search on Recruitres
recruiters=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/div/ul/li[1]/a")
driver.get(recruiters.get_attribute('href'))

In [205]:
data_science=driver.find_element_by_xpath("//input[@class='sugInp']")
data_science.send_keys('Data Scientist')

In [206]:
search=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search.click()

In [207]:
urls=[]
url=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in url:
    urls.append(i.get_attribute('href'))

In [208]:
Name=[]
Des=[]
Com=[]
Skill=[]
Location=[]
##Name
try:
    for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
        Name.append(i.text)
except NoSuchAttributeException as e:
    Name.append('--')
## Description
try:
    for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
        Des.append(i.text)
except NoSuchAttributeException as e:
    Des.append('--')
## Company NAme
try:
    for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]"):
        Com.append(i.text)
except NoSuchAttributeException as e:
    Com.append('--')
## Skillset
try:
    for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
        Skill.append(i.text)
except NoSuchAttributeException as e:
    Skill.append('--')

In [209]:
## Location
for l in urls:
    driver.get(l)
    try:
        for i in driver.find_elements_by_xpath("//div[@class='rFrame fl infoWrapper']//div[5]//a"):
            Location.append(i.text)
    except NoSuchAttributeException as e:
        Location.append('--')

In [212]:
print(len(Name))
print(len(Des))
print(len(Com))
print(len(Skill))
print(len(Location))

50
50
50
50
50

In [213]:
df=pd.DataFrame({'Name':Name,'Designation':Des,'Company':Com,'Skill':Skill,'Location':Location})

In [214]:
df

,Name,Designation,Company,Skill,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Raily Ghosh,Associate Manager Human Resources,ncyclo Corporation,IT / Bi Data Analytics/ Decision Sciences,Hyderabad / Secunderabad
6,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
7,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
8,Anoop Somarajan,Assistant Manager Talent Acquisition,Access Healthcare,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
9,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
10,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
14,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
15,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
16,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
17,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
18,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
19,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
20,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
21,Sridharan,Company Recruiter Vice President,Aaum Research and Analytics Private Limited,"Data Scientist, Developer, Ui, Accounting",Chennai
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
26,Janhavi Soni,HR Generalist,Vihaa Technologies LLP,"C, C++, Unity3d, Core Php, Android Development...",Ahmedabad
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
31,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
32,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
33,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",Others
34,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Mumbai
35,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Bengaluru / Bangalore
36,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Hyderabad / Secunderabad
37,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
38,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
39,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Bengaluru / Bangalore
40,navya neluri,Data Scientist,asens labs,Not Specified,Hyderabad / Secunderabad
41,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Pune
42,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Bengaluru / Bangalore
43,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Hyderabad / Secunderabad
44,Blueberry Digital Labs,HR,Blueberry Digital Labs,"Node.js, Html, Css, Nosql, Web Designing, Web ...",Hyderabad / Secunderabad
45,Arya,Human Resources Manager,Arya.ai,"Artificial Intelligence, Deep Learning, Machin...",Mumbai
46,Ms Uma,Company HR,RenovITe Payment Solutions Pvt ltd,"java, J2ee, activemq, rest, cassandra, redis, ...",Noida
47,Manoj Kumar Ganesh,Senior HR Associate,Cads Software India,"Java, J2EE, Oracle E-business Suite, MS CRM, P...",Chennai
48,Kranthi Kumar M,Lead HR Talent Acquisition,PrimEra Medical Technologies Private...,"Medical Coders, mbbs, bi, appeals, master data...",Hyderabad / Secunderabad
49,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai

# Q 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [195]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'

In [196]:
driver.get(url)

In [225]:
book=[]
author=[]
volume=[]
pub=[]
genre=[]
for j in range(1,101):
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[2]".format(j)):
        book.append(i.text)
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[3]".format(j)):
        author.append(i.text)
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[4]".format(j)):
        volume.append(i.text)
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[5]".format(j)):
        pub.append(i.text)
    for i in driver.find_elements_by_xpath("//tbody/tr[{}]/td[6]".format(j)):
        genre.append(i.text)

In [232]:
df=pd.DataFrame({'Book Name':book,'Author Name':author,'Volume Sold':volume,'Publisher':pub,'Genre':genre})

In [233]:
df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q-9Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [50]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [99]:
Name=[]
Year=[]
Genre=[]
Time=[]
Rating=[]
Votes=[]
try:
    for i in driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/a"):
        Name.append(i.text)
except NoSuchAttributeException as e:
    Name.append('--')
try:
    for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
        Year.append(i.text)  
except NoSuchAttributeException as e:
     Year.append('--')
try:
    for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]"):
        Genre.append(i.text)  
except NoSuchAttributeException as e:
    Genre.append('--')
try:
    for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]"):
        Time.append(i.text)  
except NoSuchAttributeException as e:
    Time.append('--')  
try:
    for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]"):
        Rating.append(i.text)  
except NoSuchAttributeException as e:
    Rating.append('--')   
try:
    for i in driver.find_elements_by_xpath("//span[@name='nv']"):
        Votes.append(i.text)  
except NoSuchAttributeException as e:
    Votes.append('--')

In [100]:
df=pd.DataFrame({'Name':Name,'Year':Year,'Genre':Genre,'Time_Span':Time,'Rating':Rating,'Votes':Votes})

In [101]:
df

,Name,Year,Genre,Time_Span,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,819,975"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"861,513"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"873,426"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,305"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,591"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,513"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,996"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,239"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,832"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"190,917"

# Q-10 Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [234]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [239]:
## Clicking on alll dataset
view_all=driver.find_element_by_xpath("//span[2][@class='whitetext']/a")
view_all.click()

In [305]:
data=[]
typ=[]
task=[]
attribute=[]
number=[]
n_attribute=[]
year=[]
for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a"):
    data.append(i.text)
for k in range(2,590):
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[2]/p".format(k)):
        typ.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[3]/p".format(k)):
        task.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[4]/p".format(k)):
        attribute.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[5]/p".format(k)):
        number.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[6]/p".format(k)):
        n_attribute.append(i.text)
    for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{}]/td[7]/p".format(k)):
        year.append(i.text)

In [306]:
print(len(data))
print(len(typ))
print(len(task))
print(len(attribute))
print(len(number))
print(len(n_attribute))
print(len(year))

588
588
588
588
588
588
588

In [307]:
df=pd.DataFrame({'Dataset Name':data,'Data Type':typ,'Task':task,'Attribute type':attribute,'No of instances':number,'Number of Attribute':n_attribute,'Year':year})

In [308]:
df

,Dataset Name,Data Type,Task,Attribute type,No of instances,Number of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021